body {
    background-color: #C0C0C0;
    margin: 0px;
    padding: 0px;
}

h1 {
    font-size: 5vh;
}
li:hover {
    background-color: darkgrey;
    color: white;
}


#list2 li {
    text-decoration: line-through;
}

.list-container {
    display: flex;
    flex-direction: row;
}

.list {
    width: 25vw;
}

.title-block {
  width: 100vw;
  padding: 2px;
  margin: 0px;
  background: #800000;
  color: #FFFFFF;
  text-align: center;
}

.enter-name {
  width: 215px;
  height: 32px;
  padding: 4px 8px;
  background: #FFFFFF;
  border: 1px solid #232323;
  border-radius: 3px;
  font-size: 18px;
  margin-left: 5vw;
  margin-top: 8vw;
}